{% extends 'dogs/base.html' %}
{% load my_tag %}

{% block content %}
        {% for object in object_list %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ object.dog_photo|mymedia }}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{{ object.dog_name|title }}</p>
                  <p class="card-text">
                      {% if object.birthday %}
                        {{ object.birthday }}<br>
                      {% endif %}
                      {{ object.owner|default:"Без хозяина" }}
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
                  <div class="card-footer">
                      {% if perms.dogs.change_dog %}
                        <a href="{% url 'dogs:update_dogs' object.pk %}" class="btn btn-success">Редактировать</a>
                      {% endif %}
                      {% if perms.dogs.delete_dog %}
                        <a href="{% url 'dogs:delete_dogs' object.pk %}" class="btn btn-warning">Удалить</a>
                      {% endif %}
                </div>
              </div>
            </div>
      {% endfor %}
{% endblock %}


